$font-weight-bolder: 900;
$secondary-color: #ffb400;
$loader-transition: all 0.5s 0.5s ease-out;

$background-color: #e5e5e5;
$text-color: #f1d3b3;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;

/* Screen breakpoints */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
