$font-family: 'Montserrat', sans-serif;

$background-color: #fdfdfd;
$text-color: #363636 !important;
$text-color-light: #afafaf;
$text-color-secondary: #5b5b5b;
$input-text-color: #575757;

$font-size-base: 16px !important;
$card-height: 600px;
$input-height: 5px;
$input-width: 600px;

