@import '../../assets/styles/variables';

.homepage {
  .filter-input {
    width: $input-width;

    input {
      font-size: $font-size-base;
      height: $input-height;
      color: $input-text-color;
    }
  }
}